@import "../../style/variable.less";
.lc-middle-page {
    width: calc(100% - 400px);
    height: inherit;
    padding: 20px;
    background: linear-gradient(135deg, @middleBgColor-1 10%,@middleBgColor-2 90%);
    border-top: 1px solid @leftBorderColor;
    position: relative;
    overflow: hidden;
    .lc-component-container {
        position: absolute;
        z-index: 2;
    }
}