@defaultColor:#ffffff;
@transparent:transparent;
@fontColor:#232425;
// the header
@HeaderFontColor:#535455;
@headerBgColor-1:#f3f4f6;
@headerBgColor-2:#eff1f5;
// the components
@defaultBtnTextColor:#6b6b69;
@defaultBtnBorderColor:#cdcdcd;
@disabledBtnTextColor:#f5f5f5;
@disabledBtnBgColor:#acacac;
@disabledBtnBorderColor:#cdcdcd;
@defaultBtnHoverColor:#2396ef;
@defaultBtnActiveColor:#0d8ef1;
// the left
@leftBorderColor:#cdcdce;
@leftBgColor-1:#fafafa;
@leftBgColor-2:#ececec;
// the middle
@middleBgColor-1:#fdfdfd;
@middleBgColor-2:#e6e6e6;

@full:1;
@half:0.5;

@display:flex,block,inline-block,inline-flex,inline,none;
@position:absolute,relative,fixed;
@cursor:pointer,zoom-in,zoom-out,default,not-allowed;
@baseSelector:lc-;
@box-sizing:border-box,content-box;
@align:center,left,right;
// mixin
.flex-center {
    display: extract(@display,@full);
    align-items: extract(@align,@full);
    justify-content: extract(@align,@full);
}