@import "../../style/variable.less";
@rotate:@full * 100 + @full * 30 + @full * 5;
.@{baseSelector}header {
    width: percentage(@full);
    height: unit(@half * 100,px);
    .flex-center();
    color: @HeaderFontColor;
    background: linear-gradient(unit(@rotate,deg),@headerBgColor-1 percentage((@full / 10)),@headerBgColor-2 percentage((@full * 9 / 10)));
    letter-spacing: unit(round(@full) * 2,px);
}